@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;   /* Assure que le défilement vertical fonctionne */
}

.react-datepicker {
  font-family: inherit;
  color : black;
  border-radius: 0.375rem;
}

.react-datepicker__header {
  color: black;
  border-bottom: none;
}

.react-datepicker__today-button {
  background-color: #d2822d !important;
  color: white;
  padding: 0.5rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #d2822d !important;
  color: white;
}

.react-datepicker__year-option {
  padding: 0.5rem;

}

.react-datepicker__day:hover {
  background-color: #f3a867 !important;
}

.no-cursor-blink {
  caret-color: transparent;
  cursor: pointer;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  box-sizing: border-box; /* Assure que le padding est inclus dans la largeur */
}

input:focus,
textarea:focus {
  border-color: #554edb; /* Remplacez par la couleur souhaitée */
  outline: none; /* Supprime l'outline par défaut si nécessaire */
}

#mentors {
  scroll-margin-top: 200px;
}